extends layout

block content
  .container-fluid
    .row
      .col-md-12#svgcontainer
    .row
      .col-md-12#timeline


  .container-fluid
    .row
      //- a.twitter-share-button(href='https://twitter.com/share', data-text='jka allo maat', data-via='kaosbeat', data-size='large', data-hashtags='devrave14') Tweet
        // script
          //- !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
      //- a(href="/auth/twitter") Sign in with Twitter
      button#getCommand Get Command
      .col-md-12#textfeed
        #consoletext
        input#input.form-control(type="text" placeholder="type help to get started")