extends layout

block content
  .container-fluid
    .row
      .col-md-12#svgcontainer
  .container-fluid
    .row
      .col-md-12#textfeed
        #consoletext
        input#input.form-control(type="text" placeholder="type help to get started")