body
  // padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

#textfeed
  position: absolute
  bottom: 0px
  background-color: orange
  color: black
  width: 100%
#consoletext
  height: 100px
  overflow: auto
#input
  height:20px

