body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
#textfeed {
  position: absolute;
  bottom: 0px;
  background-color: #ffa500;
  color: #000;
  width: 100%;
}
#consoletext {
  height: 100px;
  overflow: auto;
}
#input {
  height: 20px;
}
